################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/backend/Pomodoro.Api/obj
/backend/Pomodoro.Api/bin

/backend/Pomodoro.Application/obj
/backend/Pomodoro.Data/obj
/backend/Pomodoro.Domain/obj
